body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-image: url(images/images.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position:0;
}

header, footer {
    text-align: center;
    color: white;
    padding: 10px 0;
}

.flexbox-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 30px;
}

.grid-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 100px);
        gap: 10px;
        flex: 1;
        margin: 1rem;
        border: 2px solid white;
        padding: 1rem;
}

.nested-flex-container {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    gap: 30px;
}

.nested-item {
    background-color: #00ccff;
    margin: 5px;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
}

.grid-item {
    padding: 30px;
    text-align: center;
}
 
  
  .child {
    width: 500px;
    height: 250px;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    transition: transform 0.3s ease;
  }
  
  .child:hover {
    transform: scale(1.05);
    cursor: pointer;
  }

    @media (max-width: 768px)

    .nav{
        align-items: center;
        top: 0%;
        padding: 10px 0; 
        position: fixed;

    }

    h1{
        color: #ffffff
    }
    
    h2{
        color: #ffffff
    }

   
